*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}
body{
    display: flex;
    justify-content: center;
    background-color: #333;
}
.border{
    border-radius: 10px 10px 5vw ;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vw;
    max-width: 27vw;
    width: 100%;
    min-height: 40vw;
    background-color: #ffffffd5;
    box-shadow: 6px 0 3px 0;
}
.innerScreenContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 90%;
    width: 100%;
    min-height: 40%;
    background-color: #424242;
    box-shadow:inset 3px 0 1px 0;
}
.innerScreen{
    margin-top: 10px;
    min-height: 80%;
    max-width: 64%;
    width: 100%;
    background-color: #426d39b4;
    outline: 2px solid rgba(0, 0, 0, 0.349);
}
.lowerItems{
    position: relative;
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin-top: 5px;
}
.dpad{
    top: 30%;
    position: relative;
    margin-left: 15px;
    min-height: 35%;
    max-width: 30%;
    width: 100%;
    border-radius: 50%;
    background-color: #72727250;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-properties{
    background-color: #292828;
    border: none;
    box-shadow: 3px 0 0 0;
    transition: box-shadow 0.1s ease-in;
    transition: backgroung-color 0.1s ease-in;
    cursor: pointer;
}
.up{
    position: absolute;
    top: 20px;
    width: 20%; height: 30%;
    border-radius: 5px 5px 0 0;
}
.down{
    position: absolute;
    bottom: 20px;
    width: 20%; height: 30%;
    border-radius: 0 0 5px 5px;
}
.left{
    position: absolute;
    left: 20px;
    width: 30%; height: 20%;
    border-radius: 5px 0 0 5px;
    box-shadow: none;
}
.right{
    position: absolute;
    right: 20px;
    width: 30%; height: 20%;
    border-radius: 0 5px 5px 0;
}
.dpad-center{
    position: absolute;
    z-index: 1px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background-color: #535353;
}

.btn-properties:active{
    box-shadow: none;
    background-color: #1b1b1b;
}
.function-btn{
    right: 10%;
    top: 20%;
    position: absolute;
    display: flex;
    align-items: end;
    max-width: 35%;
    width: 100%;
    min-height: 10%;
    justify-content: space-evenly;
    transform: rotate(-30deg);
    padding: 10px;
    gap: 10px;
    border-radius: 30px;
    background-color: #b8b8b8;
    transition: background-color 0.1s ease-in;
}
.selection-btn , .menu-btn{
    max-width: 30%;
    width: 100%;
    min-height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #eb1b6f;
    color: white;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 2px 2px black;
}
.selection-btn:active, .menu-btn:active{
    box-shadow: none;
    background-color: #7e133e;
}